<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      >
  <div class="item item-1"
        fxFlex="15%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-2"
        fxFlex="20%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-3"
        fxFlex
  >
  <mat-card>Card One</mat-card>
  <mat-card>Card Two</mat-card>
  <mat-card>Card Threee</mat-card>
  </div>
</div>

<div class="container" 
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
  <div class="item item-4"
        fxFlex>
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-5"
      fxFlex="200px">
      <mat-card>Card One</mat-card>
      <mat-card>Card Two</mat-card>
      <mat-card>Card Threee</mat-card>
  </div>
</div>

<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      >
  <div class="item item-1"
        fxFlex="15%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-2"
        fxFlex="20%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-3"
        fxFlex
  >
  <mat-card>Card One</mat-card>
  <mat-card>Card Two</mat-card>
  <mat-card>Card Threee</mat-card>
  </div>
</div>

<div class="container" 
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
  <div class="item item-4"
        fxFlex>
    <mat-card>Card One</mat-card>
    <mat-card>Card Two</mat-card>
    <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-5"
      fxFlex="600px">
    <mat-card>Card One</mat-card>
    <mat-card>Card Two</mat-card>
    <mat-card>Card Threee</mat-card>

  </div>
</div>

<router-outlet></router-outlet>