<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      >
  <div class="item item-1"
        fxFlex="15%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-2"
        fxFlex="20%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-3"
        fxFlex
  >
  <mat-card>Card One</mat-card>
  <mat-card>Card Two</mat-card>
  <mat-card>Card Threee</mat-card>
  </div>
</div>

<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
  <div class="item item-4"
        fxFlex>
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-5"
      fxFlex="200px">
      <mat-card>Card One</mat-card>
      <mat-card>Card Two</mat-card>
      <mat-card>Card Threee</mat-card>
  </div>
</div>

<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      >
  <div class="item item-1"
        fxFlex="15%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-2"
        fxFlex="20%">
        <mat-card>Card One</mat-card>
        <mat-card>Card Two</mat-card>
        <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-3"
        fxFlex
  >
  <mat-card>Card One</mat-card>
  <mat-card>Card Two</mat-card>
  <mat-card>Card Threee</mat-card>
  </div>
</div>

<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
  <div class="item item-4"
        fxFlex>
    <mat-card>Card One</mat-card>
    <mat-card>Card Two</mat-card>
    <mat-card>Card Threee</mat-card>
  </div>
  <div class="item item-5"
      fxFlex="600px">
    <mat-card>Card One</mat-card>
    <mat-card>Card Two</mat-card>
    <mat-card>Card Threee</mat-card>

  </div>
</div>

<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
  <div class="item item-6"
        fxFlex>Using CSS Grid
        <div class="grid-container">
          <div class="grid-item"><label>Enter Name</label><input type="text"> </div>
          <div class="grid-item"><label>Export Date</label><input type="date"></div>
          <div class="grid-item"><label>Import Date</label><input type="date"></div>
          <div class="grid-item"><label>Manufacturer</label><input type="text"></div>
          <div class="grid-item"><label>Importer</label><input type="text"></div>
          <div class="grid-item"><label>Ult Consignee</label><input type="text"></div>
          <div class="grid-item"><label>Pick Up From</label><input type="text"></div>
          <div class="grid-item"><label>Trucker</label><input type="text"></div>
          <div class="grid-item"><label>Delivery To</label><input type="text"></div>
          <div class="grid-item"><label>Enter Name</label><input type="text"> </div>
          <div class="grid-item"><label>Export Date</label><input type="date"></div>
          <div class="grid-item"><label>Import Date</label><input type="date"></div>
          <div class="grid-item"><label>Manufacturer</label><input type="text"></div>
          <div class="grid-item"><label>Importer</label><input type="text"></div>
          <div class="grid-item"><label>Ult Consignee</label><input type="text"></div>
          <div class="grid-item"><label>Pick Up From</label><input type="text"></div>
          <div class="grid-item"><label>Trucker</label><input type="text"></div>
          <div class="grid-item"><label>Delivery To</label><input type="text"></div>
        </div>
  </div>
</div>

<router-outlet></router-outlet>
